body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-image: url("https://lh3.googleusercontent.com/pw/AJFCJaUxcBDY141CHExN3N9FqiSinmDaHzgjXSrBceK-ZKe8ABH7J3VdPqhGVjNUMGrJItDfGHRCHF0W9N_dmvdNCoRsa4DxY8NufTuC6kjZpEsAriZwGV86gVoAel7VWsIv_i-LT5-naYyD9r9SRGCESwVYha3NinFVt2_cD0uHsAtl4CADoAtNySEDFmfz2loF73v6bZrIrAhaXhW3zoft3IRCQGdNecnxQUJZnch9hKe2lZCBzaQQ2-gisLTTw5aB4Gzi5d9zYf4RPkgcaWVFYkHM6zZY9uJefFGwDZcKvM4UlEby33Orm21WJ1AWNx4MfGRqkUhelDjxx1kjQ1miAvFgxxEHT6MRbN-GbagZVpNJNHu5YeQrRe0DtzqnzA8rzOnioCg-R5xJpsjGoHrfJnceE9xBBLMOn4OH4K75fKwj7bNM16PMn6jeUuy1Q8cwCme0sZ8z3xlzk3mi3rn0jzzW-hcIuJuMApnHWNZrWwx3WlHJtz-cMWbJxyQW8dSIIHD5OFq1cpwUcjAjH789YeNoxo1dYMqjvr02nXi7shfg8ZTMurQu07MmzaHkquKe22jVxbTmLWZ_qN--peTVgU70cPGLDHQ1zLIPDwPjgfHZvonRwOWP1CEI4Ijr-TbA22fCbNp4IT7vxHzt_vgOEVivEvZbHXt0g2-Wz2qmr3FhJSucCL0rDqW0eF2xlxhblGiVaSxLBXMZMDV6_Zx_JVnIgSY7FWe59WTYDJH0z24zf81M0BYMPQCjIDuTKOySmxv1tpVaLMhavzcIfXi-kLygt7hLhTP6mD2v5fUTZS9GY7071Jt9_nmHRmWKbCA9yAHr44CXq6cK0SohWx4HSMJoLH3sZyn94NmAtwb_QHTW2sk8Z5PzNgzScgTAFKd4dWFCZXBUqmZBQzn6jcfj--N8UF_p7x3b28_9qdCR7Hy93eoNdrVX17nLXqop5MHqoRzeDwE3az-BW5Ny68yGCv41yDw17tmb-FKWZt7saeY6GMEizvqdM3CQBXJfGdoeewn1Gg0=w1201-h674-s-no?authuser=0");
        background-repeat: no-repeat;
        background-size: cover;
      }

      header {
        background-color: green;
        color: #fff;
        padding: 20px;
        text-align: center;
      }

      nav {
        background-color: ;
        padding: 10px;
        text-align: center;
      }

      nav a {
        margin: 0 10px;
        color: black;
        text-decoration: none;
      }

      nav a:hover {
        text-decoration: underline;
      }

      footer {
        background-color: ;
        color: rgb(0, 0, 0);
        padding: 20px;
        text-align: center;
      }
